//- views/auth/login.pug

extends ../index

block content
    h2 Iniciar Sesión
    if error
        p(style='color:red')= error
    form(action='/auth/login', method='POST')
        div
            label(for='email') Email:
            input(type='email', name='email', id='email', required=true)
        div
            button(type='submit') Iniciar Sesión
